  <%= form_with(model: tallyverification, local: true) do |form| %>
    <% if tallyverification.errors.any? %>
    <div class="notification is-danger">
      <div id="error_explanation">
      <h2 class="subtitle"><%= pluralize(tallyverification.errors.count, "error") %> prevented the tally from being verified:</h2>
  
        <ul>
          <% tallyverification.errors.full_messages.each do |message| %>
            <% if message == "Bigrizivalues can't be blank" %>
              <li><%= "You need to upload a CSV file containing Ri and Zi values" %></li>
            <%else %>
              <li><%= message %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :g1_x, "x coordinate of g", class:"label" %>
    <%= form.text_field :g1_x, class:"input", placeholder:"x coordinate of g" %>
  </div>

  <div class="field">
    <%= form.label :g1_y, "y coordinate of g", class:"label" %>
    <%= form.text_field :g1_y, class:"input", placeholder:"y coordinate of g" %>
  </div>


  <div class="field">
    <%= form.label :g2_x, "x coordinate of g2", class:"label" %>
    <%= form.text_field :g2_x, class:"input", placeholder:"x coordinate of g2" %>
  </div>

  <div class="field">
    <%= form.label :g2_y, "y coordinate of g2", class:"label" %>
    <%= form.text_field :g2_y, class:"input", placeholder:"y coordinate of g2" %>
  </div>

  <div class="field">
    <%= form.label :s, "s", class:"label" %>
    <%= form.text_field :s, class:"input", placeholder:"s" %>
  </div>

  <div class="field">
    <%= form.label :t, "t", class:"label" %>
    <%= form.text_field :t, class:"input", placeholder:"t" %>
  </div>

  <div class="field">
    <%= form.label :bigrizivalues, "CSV File with Ri and Zi Values" , class:"label" %>
    <%= form.file_field :bigrizivalues %>
  </div>

  <div class="actions">
    <%= form.submit("Verify Tally", class: 'button is-info' ) %>
  </div>
<% end %>
