<p id="notice"><%= notice %></p>

<h1>Tallyverifications</h1>

<table>
  <thead>
    <tr>
      <th>G1 x</th>
      <th>G1 y</th>
      <th>G2 x</th>
      <th>G2 y</th>
      <th>S</th>
      <th>T</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tallyverifications.each do |tallyverification| %>
      <tr>
        <td><%= tallyverification.g1_x %></td>
        <td><%= tallyverification.g1_y %></td>
        <td><%= tallyverification.g2_x %></td>
        <td><%= tallyverification.g2_y %></td>
        <td><%= tallyverification.s %></td>
        <td><%= tallyverification.t %></td>
        <td><%= link_to 'Show', tallyverification %></td>
        <td><%= link_to 'Edit', edit_tallyverification_path(tallyverification) %></td>
        <td><%= link_to 'Destroy', tallyverification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tallyverification', new_tallyverification_path %>
