<meta name="viewport" content="width=device-width, initial-scale=1">
<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email, "Email" %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :dateofbirth, "Date of birth" %>
    <%= form.date_select :dateofbirth, {:start_year => 1900, :end_year => Date.today.year} %>
  </div>

  <div class="field">
    <%= form.label :firstname, "First name" %>
    <%= form.text_field :firstname %>
  </div>

  <div class="field">
    <%= form.label :lastname, "Last name" %>
    <%= form.text_field :lastname %>
  </div>

  <div class="field">
    <%= form.label :password, "Password" %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, "Password confirmation" %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= form.label :avatar, "Signature" %>
    <%= form.file_field :avatar %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
