<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @user.dateofbirth %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.lastname %>
</p>

<p>
<% if @user.avatar.attached? %>
  <strong>Avatar:</strong>
  <div>
    <%= image_tag @user.avatar %>
  </div>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>
