<%= form_with(model: vote, local: true) do |form| %>
  <% if vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
        <% vote.errors.full_messages.each do |message| %>
          <% if message == "User has already been taken" %>
            <li><%= "You have already voted" %></li>
          <%else %>
            <li><%= message %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% if Vote.exists?(1) %>
      <%= form.label :id %>
      <%= form.text_field :id,value: Vote.maximum("id")+1, :readonly => true  %> 
    <%else %>
      <%= form.label :id %>
      <%= form.text_field :id,value: 1, :readonly => true  %> 
    <% end %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id,value: current_user.id, :readonly => true  %> 
  </div>

  <div class="field">
    <%= form.label :vote %>
    <%= form.number_field :vote %>
  </div>

  <!-- Options include audited and confirmed-->
  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
