<p id="notice"><%= notice %></p>

<h1 class="title">Bulletin board</h1>

<table class="table">
  <thead>
    <tr>
      <th>Hash </th>
      <th>Status</th>
      <th>Vote </th>
      <th>ri </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% p = 17278829 %>
    <% q = 32479 %>
    <% g = 2130 %>
    <% g_2 = 4536900 %>
    <% big_ri_product = 1 %>
    <% big_zi_product = 1 %>
    <% @votes.each do |vote| %>
      <tr>
      <% if (vote.status == "confirmed" || vote.status == "audited" )%>  
        <td><%= Digest::SHA256.hexdigest((vote.big_ri).to_s + (vote.big_zi).to_s + (vote.pwf).to_s + (vote.ri).to_s + (vote.vote).to_s).truncate(7) %></td>
        <td><%= vote.status %></td>
        <td><%= vote.vote %></td>
        <td><%= vote.ri %></td>
        <td><%= link_to 'Receipt', vote %></td>
        <% if vote.status == "confirmed" %>
          <% big_ri_product =  big_ri_product * vote.big_ri %>
          <% big_zi_product =  big_zi_product * vote.big_zi %>
        <% end %>
      </tr>
      <% end %>
    <% end %>
    <% f = File.open("total_random", "r") %>
    <% f2 = File.open("total_votes", "r") %>
    <% s = f.read.to_i %>
    <% t = f2.read.to_i %>
    <% f.close() %>
    <% f2.close() %>
    <% if (((big_ri_product % p) == ((g_2 ** s) % p)) && ((big_zi_product % p) == (((g ** s) % p) * ((g ** t) % p)) % p)) %>  
      <%= 'Tally verification successful' %>
    <% else %> 
      <%= 'Tally verification unsuccessful' %>
    <% end %>
  </tbody>
</table>

<br>
<p><%= 'p is ' + p.to_s %></p>
<p><%= 'g is ' + g.to_s %></p>
<p><%= 'g_2 is ' + g_2.to_s %></p>
<p><%= 'Total sum of confirmed ballot votes is (not count of individuals) ' + t.to_s %></p>
<p><%= 'Total of random numbers (confirmed ballots only) is ' + s.to_s %></p>
<p><%= "Only votes that have been audited or confirmed (with status='audited' or status='confirmed' show on the bulletin board)" %></p>
<p><%= "Only the first 4 characters of the hash are displayed" %></p>

<% vote_user_ids = Array.new %>
<% @votes.each do |vote| %> 
  <% vote_user_ids.push(vote.user_id) %>
<% end %>
<% if !vote_user_ids.include?(current_user.id) %>
  <p><%= link_to 'New Vote', new_vote_path, class:'button is-info' %></p>
<% end %>
 