<p id="notice"><%= notice %></p>

<h1>Votes</h1>

<table style="width:700px">
  <thead>
    <tr>
      <th>Index </th>
      <th>Big ri </th>
      <th>Big zi </th>
      <th>Pwf </th>
      <th>Status </th>
      <th>User </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.index %></td>
        <td><%= vote.big_ri %></td>
        <td><%= vote.big_zi %></td>
        <td><%= vote.pwf %></td>
        <td><%= vote.status %></td>
        <td><%= vote.user_id %></td>
        <td><%= link_to 'Show', vote %></td>
        <td><%= link_to 'Edit', edit_vote_path(vote) %></td>
        <td><%= link_to 'Destroy', vote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vote', new_vote_path %>
