<h1 class="title">Receipt</h1>
<% if notice.present? %>
  <div class="notification is-success">
    <%= notice %>
  </div>
<% end %>
<p>
<strong>Index:</strong>
<%= @vote.id %>
</p>

<p>
<strong>Hash of whole receipt (first 4 characters):</strong>
  <%= hash = Digest::SHA256.hexdigest(@vote.big_ri.to_s + @vote.big_zi.to_s + @vote.pwf.to_s + @vote.ri.to_s + @vote.vote.to_s).truncate(7)%>
</p>

<p>
<strong>Pwf:</strong>
<%= @vote.pwf %>
</p>

<% if @vote.status == "audited" %>  
<p>
<strong>Hash of Ri:</strong>
  <%= hash = Digest::SHA256.hexdigest(@vote.big_ri.to_s) %>
</p>

<p>
<strong>Hash of Zi:</strong>
  <%= hash = Digest::SHA256.hexdigest(@vote.big_zi.to_s) %>
</p>

<p>
  <strong>Vote:</strong>
  <%= @vote.vote %>
</p>

<p>
  <strong>ri:</strong>
  <%= @vote.ri %>
</p>

<p>
<strong>Status:</strong>
  <%= @vote.status %>
</p>
<% end %>

<% if @vote.status == "confirmed" %>  
<p>
<strong>Status:</strong>
  <%= @vote.status %>
</p>

<% end %>
<br>
<% if (@vote.status == nil && @vote.user_id == current_user.id) %>  
<%= link_to 'Voting Stage 2', edit_vote_path(@vote), data: {turbolinks: "false"}, class:'button is-info' %>
<% end %>

<%= link_to 'Bulletin Board', votes_path,class:'button is-info' %>
