<h1 class="title">Receipt</h1>
<% if notice.present? %>
  <div class="notification is-success">
    <%= notice %>
  </div>
<% end %>
<% if @vote.user_id == current_user.id %>  
  <p>
  <strong>Index:</strong>
  <%= @vote.id %>
  </p>

  <p>
  <strong>Big ri:</strong>
  <%= @vote.big_ri %>
  </p>

  <p>
  <strong>Big zi:</strong>
  <%= @vote.big_zi %>
  </p>

  <p>
  <strong>Pwf:</strong>
  <%= @vote.pwf %>
  </p>

  <% if @vote.status == "audited" %>  
  <p>
    <strong>Vote:</strong>
    <%= @vote.vote %>
  </p>

  <p>
    <strong>ri:</strong>
    <%= @vote.ri %>
  </p>
  <strong>Status:</strong>
    <%= @vote.status %>
    <p>Hash: <%= hash = Digest::SHA256.hexdigest(@vote.big_ri.to_s + @vote.big_zi.to_s + @vote.pwf.to_s + @vote.ri.to_s + @vote.vote.to_s).truncate(7)%></p>
    <p><%= link_to 'Destroy Vote', @vote, method: :delete, data: { confirm: 'Are you sure?' }, class:'button is-info' %></p>
  <% end %>

  <% if @vote.status == "confirmed" %>  
  <p>
    <strong>Status:</strong>
    <%= @vote.status %>
    <p>Hash: <%= hash = Digest::SHA256.hexdigest(@vote.big_ri.to_s + @vote.big_zi.to_s + @vote.pwf.to_s + @vote.ri.to_s + @vote.vote.to_s).truncate(7)%></p>
  </p>
  <% end %>
  <p><%= "Only the first 4 characters of the hash are displayed" %></p>
  <p><%= 'Note down your vote index (id) so you can edit it afterwards (Go to: http://localhost:3000/votes/id)' %></p>

  <% if @vote.status == nil %>  
  <p><td><%= link_to 'Voting Stage 2', edit_vote_path(@vote), data: {turbolinks: "false"}, class:'button is-info' %></p>
  <% end %>

<% else %>  
  <%= 'This is not your receipt' %>
<% end %>

<p><%= link_to 'Bulletin Board', votes_path,class:'button is-info' %></p>
