<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Line allows webpage to be correct size on mobile devices -->
    <title>E-Voting Platform</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- https://stackoverflow.com/questions/34975081/create-and-delete-tables-in-responsive-design-ruby-on-rails-4 -->
    <style>
    @media screen and (max-width: 767px) {
      .big   { display: none; } <!-- Hide table -->
      .small { display: block; }  <!-- Show boxes -->
    }
    @media screen and (min-width: 768px) {
      .small { display: none ; } <!-- Hide boxes -->
      .big   { display: block; } <!-- Show table -->
    }
    </style>
  </head>

  <body class="m-4">
    <%= yield %>
  </body>
</html>
